@font-face {
    font-family: 'Neuropol';
    src: url('https://baqirbaber.github.io/baq/Neuropol-Regular.woff2') format('woff2'),
        url('https://baqirbaber.github.io/baq/Neuropol-Regular.woff') format('woff'),
        url('https://baqirbaber.github.io/baq/Neuropol-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

